.title {
    color: $black-title;
  }
  .tint {
    color: $color-text;
  }
  .tip {
    color: $black-title;
    font-size: 16px;
    font-weight: 500;
  }
  .accent {
    color: rgba(255, 255, 255, 0.6);
  }

