.benefits__block {
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    display: inline-flex;
    background-color: $bg-white;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
  }
  .benefits__icon {
    width: 70px;
    height: 70px;
  }
  .benefits__title {
    font-size: 14px;
    line-height: 1.14;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  
  .benefits__description {
    line-height: 1.71;
  }
  .benefits__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .benefits__item {
    flex-basis: calc((100% - 3 * 30px) / 4);
    max-width: 270px;
  }
  