$white: #ffffff;
$black: #000000;
$black-title: #212121;
$blue: #2196f3;
$bg-black: #2f303a;
$color-text: #757575;
$bg-white: #f5f4fa;
$color-border: #eeeeee;
$icon-color: #afb1b8;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);